{% extends "app/layout.html" %}

{% block content %}

<h1>About HealthConnect.</h1>

<p>Our mission statement is to provide individuals with enough information so that they can make an informed decision when choosing a healthcare professional. The health and well-being of all people is very important to our team. We want to provide a way that the community can share their experiences so that others can make decisions that are the best for them.
</p>

<p>It is difficult in the United States to easily find a doctor or specialist, especially one that is both accepted by your insurance provider and comes with a high recommendation by a trusted community.
</p>


<h4> HealthConnect is the solution.</h4>

<p>HealthConenct provides customers an easy way to find and review healthcare providers so that you can always find the best provider for you and your loved ones.</p>
{% endblock %}
