{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>HealthConnect</h1>
    <p class="lead"HealthConenct provides customers an easy way to find and review healthcare providers.</p.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
            Our mission statement is to provide individuals with enough information so that they can make 
            an informed decision when choosing a healthcare professional. The health and well-being of all 
            people is very important to our team. We want to provide a way that the community can share their
            experiences so that others can make decisions that are the best for them.
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Problem</h2>
        <p>
            It is difficult in the United States to easily find a doctor or specialist, especially one that
            is both accepted by your insurance provider and comes with a high recommendation by a trusted community.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Solution</h2>
        <p>
            Provide customers an easy way application to search and review healthcare providers.
            Provide HealthCare companes an easy to share their services with a greater populace.
        </p>
    </div>
</div>

{% endblock %}
