{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login</h3>
                    <form action="{% url 'login' %}" method="post" class="form-horizontal">
                        {% csrf_token %}

                        {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                                 {%if message.extra_tags == 'LoginUpError'%}
                                    <p style="color: red">{{ message }}</p>
                                {%endif%}
                            {% endfor %}
                            </ul>
                        {% endif %}
                 
                        <div class="form-group">
                            <input type="text" name="usernameLogin" class="form-control" placeholder="Your Username *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="passwordLogin" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="loginbtn" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Sign Up</h3>
                    <form action="{% url 'login' %}" method="post" class="form-horizontal">
                        {% csrf_token %}

                        {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                                {% if message.extra_tags == 'SignUpError'%}
                                    <p style="color: red">{{ message }}</p>
                                {%endif%}
                            {% endfor %}
                            </ul>
                        {% endif %}


                        <div class="form-group">
                            <input type="text" name="usernameSignup" class="form-control" placeholder="Your Username *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="emailSignupPri" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="passwordSignupPri" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="passwordSignupSec" class="form-control" placeholder="Re-Type Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <label class="radio-inline" ><input type="radio" name="optradio" value="Customer"checked>Customer</label>
                            <label class="radio-inline" ><input type="radio" name="optradio" value="Business">Business</label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="signupbtn" class="btnSubmit" value="Register" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
